{% extends "base.html" %}
{% load static %}
{% block content %}



    <!-- Page Header Start -->
    <div
      class="container-fluid header-bg py-5 mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown">About Us</h1>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <p><span class="text-primary me-2">#</span>Welcome To Zoofari</p>
            <h1 class="display-5 mb-4">
              Why You Should Buy
              <span class="text-primary">Zoofari</span> Plushies!
            </h1>
            <p class="mb-4">
              Discover happiness with Zoofari's cute animal plushies!
            </p>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Irresistible Charm: Our plushies are irresistibly cute and huggable, bringing joy to all ages.
            </h5>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Top Quality: Crafted with premium materials for lasting comfort and durability.
            </h5>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Perfect Gifts: Ideal for birthdays and holidays, adding a cozy touch to any space.
            </h5>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Educational Fun: Learn while you play with fascinating animal facts included.
            </h5>
            <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="img-border">
              <img class="img-fluid" src="{%static 'img/about.jpg'%}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

   <!-- Facts Start -->
    <div
      class="container-xxl bg-primary facts my-5 py-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <div class="row g-4">
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.1s"
          >
            <i class="fa fa-paw fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">289000</h1>
            <p class="text-white mb-0">The total number of plushies</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.3s"
          >
            <i class="fa fa-users fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">20</h1>
            <p class="text-white mb-0">Toy Lines</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.5s"
          >
            <i class="fa fa-certificate fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">250</h1>
            <p class="text-white mb-0">Store's worldwide</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.7s"
          >
            <i class="fa fa-shield-alt fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">1500000</h1>
            <p class="text-white mb-0">Workers!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Facts End -->

   <!-- Testimonial Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <h1
          class="display-5 text-center mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          Our Clients Say!
        </h1>
        <div
          class="owl-carousel testimonial-carousel wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{%static 'img/testimonial-1.jpg'%}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                I recently purchased a plushie from ZooFari, and I couldn't be happier! The selection was fantastic, and the quality of the plushie exceeded my expectations.
                It's so soft and cuddly, perfect for snuggling up with. The customer service was also excellent, with friendly staff who were happy to assist me in finding the perfect plushie.
                I highly recommend ZooFari to anyone looking for high-quality plushies.
              </p>
              <h5 class="mb-1">Absolutely Adorable</h5>

            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{%static 'img/testimonial-2.jpg'%}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                ZooFari has an incredible selection of plushies to choose from!
                Whether you're looking for cute animals, mythical creatures, or popular characters, they have it all.
                I was amazed by the variety of options available, and I had a blast browsing through their collection.
                The plushie I purchased was of excellent quality, and it arrived promptly.
                I'll definitely be coming back to ZooFari for all my plushie needs!
              </p>
              <h5 class="mb-1">Amazing Variety!</h5>

            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{%static 'img/testimonial-3.jpg'%}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                I had a wonderful experience shopping at ZooFari for plushies.
                The website was easy to navigate, making it simple to find the perfect plushie for my collection.
                The checkout process was smooth, and my order arrived quickly and well-packaged.
                The plushie itself was even cuter in person than it was online, and I was impressed by the attention to detail and craftsmanship.
                Overall, I had a great shopping experience with ZooFari and would highly recommend it to others!
              </p>
              <h5 class="mb-1">Great Shopping Experience!</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    {% endblock %}